.work {
  position: relative;
  width: 280px;
  min-height: 280px;
  overflow: hidden;
  color: var(--color-white);
  border-radius: 9px;
  box-shadow: 0 0 50px -30px var(--color-fg);

  &:hover,
  &:focus-within {
    .work__content {
      opacity: 1;
    }
  }

  @media (min-width: $device-tablet) {
    width: 339px;
    min-height: 255px;
  }
}

.work__image {
  img {
    display: block;
    width: 280px;
  }

  @media (min-width: $device-tablet) {
    img {
      width: 339px;
    }
  }
}

.work__content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 58px 20px 20px;
  background-color: var(--color-dark-translucent);
  opacity: 0;
  transition: opacity 0.3s;

  &::before,
  &::after {
    position: absolute;
    top: 20px;
    display: block;
    padding: 2px 5px;
    font-size: 12px;
    background-color: var(--color-gray);
    border-radius: 5px;
  }

  .work--training & {
    &::before {
      content: "training project";
      left: 20px;
    }
  }

  @each $type, $bgColor in ("fixed": null, "adaptive": "--color-secondary", "responsive": "--color-tertiary") {
    .work--#{$type} & {
      &::after {
        content: $type;
        right: 20px;
        background-color: if($bgColor, var(#{$bgColor}), null);
      }
    }
  }
}

.work__info {
  margin-bottom: 20px;
}

.work__title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid var(--color-primary-2);
}

.work__description {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.work__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -5px;
  padding-top: 20px;
  border-top: 1px solid var(--color-primary-2);
}

.work__link {
  margin-right: 2.5px;
  margin-bottom: 5px;
  margin-left: 2.5px;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}
