:root {
  --color-white: #ffffff;
  --color-dark: #272727;
  --color-gray: #747474;
  --color-dark-translucent: #{rgba(#272727, 0.75)};
  --color-bg: var(--color-white);
  --color-fg: var(--color-dark);
  --color-primary-1: #33d997;
  --color-primary-2: #00ff99;
  --color-secondary: #ff652f;
  --color-tertiary: #6600ff;
  --animation-duration: 0.3s;

  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    --color-bg: var(--color-dark);
    --color-fg: var(--color-white);
  }
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
  font: 500 14px $font-primary;
}

body {
  min-width: $width-mobile;
  margin: 0;
  color: var(--color-fg);
  text-size-adjust: 100%;
  background-color: var(--color-bg);
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
