@use "../mixins/media" as *;

.footer {
  padding-top: 25px;
  padding-bottom: 25px;

  @include media-min-tablet {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__contacts {
  margin-bottom: 20px;
}

.footer__copyright {
  font-size: 12px;
  text-align: center;
}
