@use "../mixins/media" as *;

.projects {
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-gray);

  @include media-min-tablet {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.projects__description {
  margin-top: 0;
  margin-bottom: 20px;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
  gap: 20px;

  @include media-min-tablet {
    grid-template-columns: repeat(auto-fill, 339px);
    gap: 30px;
  }
}

.projects__links {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @include media-min-tablet {
    margin-top: 30px;
  }
}
