.about {
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-gray);

  @media (min-width: $width-tablet) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.about__content {
  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 216px 1fr;
    column-gap: 30px;
  }
}

.about__author {
  margin-bottom: 20px;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }
}

.about__photo {
  display: none;

  img {
    width: 216px;
    border-radius: 50%;
  }

  @media (min-width: $width-tablet) {
    display: block;
    margin-bottom: 20px;
  }
}

.about__description {
  margin-top: 0;
  margin-bottom: 0;
}

.about__group {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.about__group-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-secondary);
}

.about__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 5px;
}
