.main-menu {
  display: none;
  background-color: var(--color-bg);

  &--opened {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    display: block;
    animation: var(--animation-duration) both menu-open;
  }

  .no-js & {
    display: block;
    animation: none;
  }

  @media (min-width: $width-tablet) {
    position: initial;
    z-index: initial;
    display: block;
    max-width: 65%;
    animation: none;
  }
}

.main-menu__list {
  @include list-reset;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
  }
}

.main-menu__item {
  min-height: 50px;
  font-size: 26px;
  color: var(--color-secondary);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-gray);

  @media (min-width: $width-tablet) {
    min-height: initial;
    padding-left: 20px;
    font-size: 16px;
    border: none;
  }
}

.main-menu__link {
  overflow-wrap: break-word;
  transition:
    color var(--animation-duration),
    background-color var(--animation-duration);

  span {
    position: relative;

    &::before {
      content: ">";
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;
      transition: color var(--animation-duration);
      pointer-events: none;
    }
  }

  &:hover,
  &:focus {
    span {
      &::before {
        color: var(--color-primary-1);
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: var(--color-bg);
    background-color: var(--color-secondary);

    span {
      &::before {
        color: var(--color-bg);
      }
    }
  }

  @media (max-width: $width-tablet - 1) {
    display: flex;
    padding: 10px 20px 9px;

    span {
      flex-basis: 580px; // 620px - 20px * 2
      box-sizing: border-box;
      margin-right: auto;
      margin-left: auto;
      padding-left: 30px;
    }
  }

  @media (min-width: $width-tablet) {
    span {
      &::before {
        left: -20px;
      }
    }
  }
}
