%container {
  box-sizing: border-box;
  min-width: $deviceMobile;
  max-width: 620px; // 20 + (280 * 2 + 20) + 20
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $deviceTablet) {
    max-width: 1137px; // 30 + (339 * 3 + 30 * 2) + 30
    padding-right: 30px;
    padding-left: 30px;
  }
}

%list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
