@use "sass:string";

// Returns $string without spaces
@function spaceless($string) {
  $spaceIndex: string.index($string, " ");

  @if $spaceIndex {
    @while $spaceIndex {
      $string: string.slice($string, 1, $spaceIndex - 1) + string.slice($string, $spaceIndex + 1);
      $spaceIndex: string.index($string, " ");
    }

    @return $string;
  }

  @return $string;
}

// Returns $string with capitalized first letter
@function capitalize($string) {
  @return string.to-upper-case(string.slice($string, 1, 1)) + string.slice($string, 2);
}
