@use "sass:string";

// Returns $string without spaces
@function spaceless($string) {
  $space-index: string.index($string, " ");

  @if $space-index {
    @while $space-index {
      $string: string.slice($string, 1, $space-index - 1) + string.slice($string, $space-index + 1);
      $space-index: string.index($string, " ");
    }

    @return $string;
  }

  @return $string;
}

// Returns $string with capitalized first letter
@function capitalize($string) {
  @return string.to-upper-case(string.slice($string, 1, 1)) + string.slice($string, 2);
}
