:root {
  --color-white: #{$color-white};
  --color-dark: #{$color-dark};
  --color-gray: #{$color-gray};
  --color-dark-translucent: #{rgba($color-dark, 0.75)};
  --color-bg: var(--color-white);
  --color-fg: var(--color-dark);
  --color-primary-1: #{$color-primary-1};
  --color-primary-2: #{$color-primary-2};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};

  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    --color-bg: var(--color-dark);
    --color-fg: var(--color-white);
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
