@use "sass:string";

// Output of the @font-face rule for connecting a font with the specified parameters
// $fontFamily - name of the font family (font-family property value)
// $weightName - name of the font weight
// $fontWeight - font weight (font-weight property value, by default: 400)
@mixin font-face($fontFamily, $weightName, $fontWeight: 400) {
  $fontName: $fontFamily + " " + $weightName;
  $fontNameSpaceless: spaceless($fontFamily) + "-" + $weightName;

  @font-face {
    font-style: normal;
    font-weight: $fontWeight;
    font-family: $fontFamily;
    font-display: swap;
    src:
      local($fontName),
      local($fontNameSpaceless),
      url("../fonts/#{string.to-lower-case($fontNameSpaceless)}.woff2") format("woff2"),
      url("../fonts/#{string.to-lower-case($fontNameSpaceless)}.woff") format("woff");
  }
}

// Hide element from viewport and remove it from the workflow
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
