// Breakpoints
$device-mobile: 320px;
$device-tablet: 768px;

// Colors
$color-white: #ffffff;
$color-dark: #272727;
$color-gray: #747474;
$color-primary-1: #33d997;
$color-primary-2: #00ff99;
$color-secondary: #ff652f;
$color-tertiary: #6600ff;
