// Breakpoints
$deviceTablet: 768px;

// Colors
$colorWhite: #ffffff;
$colorDark: #272727;
$colorGray: #747474;
$colorPrimary1: #33d997;
$colorPrimary2: #00ff99;
$colorSecondary: #ff652f;
$colorTertiary: #6600ff;
