@keyframes toggle-open-1 {
  from {
    transform: translateY(0) rotate(0);
  }

  to {
    transform: translateY(10px) rotate(225deg);
  }
}

@keyframes toggle-open-2 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(315deg);
  }
}

@keyframes toggle-open-3 {
  from {
    transform: translateY(0) rotate(0);
  }

  to {
    transform: translateY(-10px) rotate(315deg);
  }
}
